/*@import url("https://uwhealth.github.io/Nu-Connect/uconnect_assets/css/main.css");*/
@import url('https://fonts.googleapis.com/css?family=Orbitron');

.st0{fill: #0090DB;}
.st1, .knob_data {fill:#0C0613; color:#0C0613;}

.graph {
    width: 80%;
    display: table;
    margin: 0 auto 0;
    position: relative;
    text-align: center;
    height: 12.5rem;
}

.graph_media {
    max-height: 12rem;
}

.graph_data, .knob_data {
    font-size: 3rem;
}

.graph_data {
    display: table-cell;
    vertical-align: middle;
}

.card_division {
    border-top: 1px solid #D7DDE5;
    padding: 0;
}

/*// .card_body {
   //   background-image: linear-gradient(#ededed 1px, transparent 1px),
   // linear-gradient(90deg, #ededed 1px, transparent 1px);
   //   background-size: 9px 9px;
   // }*/

.card_full {
    max-height: none;
    height: auto;
}

.card_more_button {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.1;
    transition: transform .12s ease-out;
}

.card_more_button {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: #D7DDE5;
    border-top-color: #D7DDE5;
    background-color: #fff;
}

.card_more_button:after {
    content: '\e629';
}

.card_more_content {
    display: none;
    font-size: .865rem;
    line-height: 1.5;
    padding: .75rem;
}

.stats {
    width: 100%;
    margin-bottom: -2px;
    height: 5.75rem;
    display: table;
}

.stats_row > .stats_item {
    border-left: 1px solid #D7DDE5;
    padding: .75rem 0.75rem;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.stats_row > .stats_item:first-child {
    border-left: 0;
}

.stats_row:after {
    content: ' ';
    display: table;
    clear: both;
}

.stats_item_number {
    white-space: nowrap;
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.stats_item_number:before {
    display: none;
}


.txt_success {
    color: #0C0613;
}

.txt_warn {
    color: #DDC728;
}

.txt_smaller {
    font-size: .75em;
}

.flipY {
    transform: scaleY(-1);
    border-bottom-color: #fff;
}


.chart {
    display: inline-block;
    width: 110px;
    margin: 40px auto 20px;
    padding: 0 10px;
}
.easyPieChart {
    position: relative;
    text-align: center;
}
.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percentage, .label {
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: 100;
}
.percentage {
    font-size: 17px;
}
sup {
    top: -0.2em;
    margin-left: 1px;
}
.ctrl {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #c4cdcc;
    word-spacing: 5px;
}
.ctrl span {
    cursor: pointer;
}

.chart {
    position: relative;
    display: inline-block;
    margin: 0px 10px;
    color: #999;
    font-size: 14px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    float: left;
    width: 100%;
    padding-left: 30px;
}

.main ul {
    width: 690px;
    height: 112px;
    margin: 486px 0 0;
    padding: 0;
    list-style: none;
}

.main li {
    float: left;
    position: relative;
    z-index: 1;
    width: 230px;
    height: 100%;
    transition: z-index;
    transition-delay: .8s;
}

.main li::before {
    content: '\f106';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #384248;
    font: 6em/1 'FontAwesome';
    transform: translate(-50%, -50%);
}

.main article {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 688px;
    height: 448px;
    outline: 4px solid white;
    background-color: #f6faff;
    cursor: pointer;
    transform: translate(-50%, -50%) scale(.25);
    transition: transform .8s;
}

.main article:focus {
    outline-color: #fff;
}

.main .area {
    position: relative;
    width: 87%;
    height: 300px;
    margin: 32px 64px 48px;
    font-size: 1.1em;
}

.main .lines {
    counter-reset: y-axis 120;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main .lines div {
    opacity: 0;
    position: relative;
    height: 20%;
    border-top: 1px solid #646c71;
    transition: opacity .8s;
}

.main .lines div::before {
    counter-increment: y-axis -20;
    content: counter(y-axis);
    display: block;
    position: absolute;
    top: -10px;
    left: -40px;
    width: 40px;
    padding-right: 8px;
    text-align: right;
}

.main .data {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main dl {
    float: left;
    position: relative;
    width: 110px;
    height: 300px;
    margin: 0;
    text-align: center;
}

.main dt {
    opacity: 0;
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    transition: opacity .8s;
    float: left;
}

.main dd {
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    width: 40px;
    margin: 0 20px;
    padding-top: 8px;
    border-top: 1px solid #1c8ed6;
    list-style: none;
    color: #fff;
    background-color: #0C0613;
}

.main dd::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1c8ed6;
    transition: opacity .8s;
}

.main .visits :nth-child(1) dd { height: 108px; }
.main .visits :nth-child(2) dd { height: 132px; }
.main .visits :nth-child(3) dd { height: 156px; }
.main .visits :nth-child(4) dd { height: 96px; }
.main .visits :nth-child(5) dd { height: 132px; }
.main .visits :nth-child(6) dd { height: 204px; }
.main .visits :nth-child(7) dd { height: 240px; }

.main .pageviews :nth-child(1) dd { height: 216px; }
.main .pageviews :nth-child(2) dd { height: 168px; }
.main .pageviews :nth-child(3) dd { height: 192px; }
.main .pageviews :nth-child(4) dd { height: 144px; }
.main .pageviews :nth-child(5) dd { height: 192px; }
.main .pageviews :nth-child(6) dd { height: 240px; }
.main .pageviews :nth-child(7) dd { height: 252px; }

.main .conversions :nth-child(1) dd { height: 228px; }
.main .conversions :nth-child(2) dd { height: 264px; }
.main .conversions :nth-child(3) dd { height: 216px; }
.main .conversions :nth-child(4) dd { height: 204px; }
.main .conversions :nth-child(5) dd { height: 156px; }
.main .conversions :nth-child(6) dd { height: 180px; }
.main .conversions :nth-child(7) dd { height: 120px; }

.main article h1 {
    margin-top: -13%;
    color: #0C0613;
    height: 52px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 2.8em;
    font-weight: normal;
    transform: translateY(-16px);
    transition: transform .8s;
}

/* Chrome/Safari/iOS fix: Bumping up the z-index from the start of
   the expand animation until the end of the shrink animation
   prevents unnecessary repaints on subsequent <article> elements. */
.main .active {
    z-index: 2;
    transition-delay: 0s;
}

.main li:nth-child(1).active article {
    transform: translate(-114px, -542px) scale(1);
}
.main li:nth-child(2).active article {
    transform: translate(-344px, -542px) scale(1);
}
.main li:nth-child(3).active article {
    transform: translate(-574px, -542px) scale(1);
}

.main .active article {
    cursor: auto;
}

.main .active article {
    outline-width: 1px;
}

.main .active .lines div,
.main .active dt {
    opacity: 1;
}

.main .active dd::after {
    opacity: 0;
}

.main .active article h1 {
    transform: translateY(0);
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #27aae1;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
}

