body {
    background: #e9e9e9;
    color: #666;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("https://static.pexels.com/photos/33972/pexels-photo.jpg");
    /* Add the blur effect */
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    position: relative;
    max-width: 460px;
    width: 100%;
    padding-top: 5%;
    z-index: auto;
}
.container.active .card:first-child {
    background: #f2f2f2;
    margin: 0 15px;
}
.container.active .card:nth-child(2) {
    background: #fafafa;
    margin: 0 10px;
}
.container.active .card.alt {
    background: #0C0613;
    top: 20px;
    right: 0;
    width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 60px 0 40px;
    overflow: hidden;
}
.container.active .card.alt .toggle {
    position: inherit;
    top: 52px;
    right: 39px;
    box-shadow: none;
    width: 16%;
    height: 13%;
}
.container.active .card.alt .toggle:before {
    content: '';
}
.container.active .card.alt .title, .container.active .card.alt .input-container, .container.active .card.alt .button-container {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease;
}
.container.active .card.alt .title {
    transition-delay: 0.3s;
}
.container.active .card.alt .input-container {
    transition-delay: 0.4s;
}
.container.active .card.alt .input-container:nth-child(2) {
    transition-delay: 0.5s;
}
.container.active .card.alt .input-container:nth-child(3) {
    transition-delay: 0.6s;
}
.container.active .card.alt .button-container {
    transition-delay: 0.7s;
}
/* Card */
.card {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.3s ease;
    /* Title */
    /* Inputs */
    /* Button */
    /* Footer */
    /* Alt Card */
}
.card:first-child {
    background: #fafafa;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
}
.card .title {
    position: relative;
    z-index: 1;
    border-left: 10px solid #0C0613;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #0C0613;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}
.card .input-container {
    position: relative;
    margin: 0 60px 20px;
}
.card .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 60px;
    border: 0;
    color: #0C0613;
    font-size: 24px;
    font-weight: 400;
}
.card .input-container input:focus ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
    width: 50%;
}
.card .input-container input:valid ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
}
.card .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
    content: '';
    position: absolute;
    background: #0C0613;
    width: 0;
    height: 2px;
    transition: 0.2s ease;
}
.card .input-container .bar:before {
    left: 50%;
}
.card .input-container .bar:after {
    right: 50%;
}
.card .button-container {
    margin: 0 60px;
    text-align: center;
}
.card .button-container button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 3px solid #0C0613;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.3s ease;
}
.card .button-container button span {
    position: relative;
    z-index: 1;
    color: #0C0613;
    transition: 0.3s ease;
}
.card .button-container button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #0C0613;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    transition: 0.3s ease;
}
.card .button-container button:hover{
    color: white;
    background-color: #0C0613;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
    border-color: #0C0613;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
    color: white;
}
.card .button-container button:active span, .card .button-container button:focus span {
    color: #0C0613;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
    opacity: 1;
}
.card .footer {
    margin: 40px 0 0;
    color: #d3d3d3;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
.card .footer a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease;
}
.card .footer a:hover {
    color: #bababa;
}
.card.alt {
    position: absolute;
    top: 40px;
    right: -70px;
    z-index: 10;
    width: 140px;
    height: 140px;
    background: none;
    border-radius: 100%;
    box-shadow: none;
    padding: 0;
    transition: 0.3s ease;
    /* Toggle */
    /* Title */
    /* Input */
    /* Button */
}
.card.alt .toggle {
    position: relative;
    background: #0C0613;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #fff;
    font-size: 58px;
    line-height: 140px;
    text-align: center;
    cursor: pointer;
}
.card.alt .toggle:before {
    font-family: "Font Awesome 5 Free";
    content: '\f25d ';
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.card.alt .title, .card.alt .input-container, .card.alt .button-container {
    left: 100px;
    opacity: 0;
    visibility: hidden;
}
.card.alt .title {
    position: relative;
    border-color: #fff;
    color: #fff;
}
.card.alt .title .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 60px;
    display: inline;
    color: #fff;
    font-size: 58px;
    font-weight: 400;
}
.card.alt .title .close:before {
    content: '\00d7';
}
.card.alt .input-container input {
    color: #fff;
}
.card.alt .input-container input:focus ~ label {
    color: #fff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
    background: #fff;
}
.card.alt .input-container input:valid ~ label {
    color: #fff;
}
.card.alt .input-container label {
    color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
    background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
    width: 100%;
    background: #0C0613;
    border-color: white;
    color: white;
}
.card.alt .button-container button span {
    color: white;
}
.card.alt .button-container button:hover {
    background: white;
    border-color: white;
    color: #0C0613;
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
    display: none;
}
.card.alt .button-container button:hover span{
    color: #0C0613;
}
.login-sec{
    padding: 50px 30px;
    position:relative;
}
.login-sec .copy-text{
    position:absolute;
    width:80%;
    bottom:20px;
    font-size:13px;
    text-align:center;
}
.login-sec .copy-text i{
    color:#3a5a95;
}
.login-sec .copy-text a{
    color:#343a40;
    text-decoration: none;
    cursor: pointer;
}