a{
    color: white;
}

.fieldInfo{
    font-weight: bold;
    color: white;
    //font-family: Bitter,Georgia,"Times New Roman",Times,serif;
    font-size: 1.2em;
}

.commentBlock{
    background-color: #f6f7f9;
}

.text-uppercase{
    font-weight: bold;
}

#second{
    display: none;
}

.hasAccountText span {
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    color: #343a40;
}

.login_register{
    background-color: #343a40;
    display: none;
}

#login_register_button{
    background-color: #343a40;
    color: white;
    font-weight: bolder;
}

.hasAccountText {
    text-align: center;
    font-size: 16px;
    color: #343a40;
}

#registerForm{
    display: none;
}
.label-input100 {
    font-size: 14px;
    font-weight: bold;
    color: black;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 15px 0 2px 24px;
}
/*=-footer-=*/
footer {
    color: #fff;
    background-attachment: fixed;
    background-color:#222;
    background-size: cover;
    background-position: bottom;
}
footer p {
    color: #ccc;
}
footer a {
    color: #ccc;
}
.social-pet li {
    display: inline-block;
    margin-right: 10px;
}
.social-pet li a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 35px;
    background-color: #3a5a95;
    color: #fff;
}
.social-pet li:nth-child(2) a {
    background-color: #57aced;
}
.social-pet li:nth-child(3) a {
    background-color: #dd4f43;
}
.social-pet li:nth-child(4) a {
    background-color: #6b27b2;
}
.social-pet li a:hover {
    background-color: #0141a2;
}
.social-pet li a:hover i {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.recent-post li {
    display: block;
    color: #ccc;
    margin-bottom: 25px;
}
.recent-post li label {
    float: left;
    border: 2px solid #ccc;
    padding: 1px 7px;
    text-align: center;
}
.recent-post li label span {
    color: #fff;
}
footer .input-group-addon {
    background-color: #0141a2;
    padding: 10px;
}
.f-address li {
    display: inline-block;
}
.f-address li i {
    color: #2995de;
    font-size: 18px;
}
.f-address li a {
    color: #ccc;
}
/*=-Copyright-=*/
.copyright {
    background-color: #111;
    padding: 12px 0;
    font-size:14px;
}

.type-wrap {
    font-size: 50px;
    padding: 20px;
}

/* the above is for styling puposes only */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*TEST MODE*/
#jarak {
    margin: 20px;
}

ol.poindic {
    bottom: -50px;
}

.card-footer{
    background-color: #0C0613;
    color: white!important;
    font-size: 14px;
}
.text-muted{
    color: white;!important;
    font-size: 14px;
}
.card-img-top{
    width: 100%;
    height: 180px!important;
}
.carousel-indicators li{
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0C0613;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}

.container3{
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact100-form {
    width: 100%!important;
    min-height: 100vh;
    display: block;
    padding: 20px!important;
}

.contact100-form h2{
    font-size: 40px!important;
    font-weight: bold!important;
    text-align: center!important;
    padding-bottom: 20px!important;
}

/*image select button*/
.avatar input[type=file]{
    display: block;
    position: relative;
    top: 0px;
    left: 30px;
    z-index: 1;
    color: #ccc;
}

.avatar input[type=file]::-webkit-file-upload-button {
    border: 1px solid grey;
    background: #fff;
    margin: 30px 0;
    padding: 10px 20px;
    border: 01px solid #ccc;
    border-radius: 7px;
    color: #ccc;
}
input[type=submit]{
    position: relative;
    top: -45px;
    left: 0;
    z-index: 2;
    width: 125px;
    margin-top: 15px;
    padding: 10px 20px;
    border: 01px solid #ccc;
    border-radius: 7px;
    color: #ccc;
    background: #fff;
}
input[type=submit]:hover{
    border: 1px solid lightblue;
    color: lightblue;
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem!important;
}

/*add new post CSS*/
/*SEARCH BUTTON*/
.fg--search {
    background: white;
    position: relative;
    width: 300px;
}

.fg--search input {
    width: 100%;
    padding: 5px 80px 14px 13px;
    display: block;
}

.fg--search button {
    height: 43px!important;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 2;
    background-color: #27aae1;
}

.fg--search input:focus + button .fa-search {
    color: red;
}


input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}


label {
    display: block;
    margin: 0;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}
.txt1 {
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
}

.txt2 {
    font-size: 15px;
    line-height: 1.6;
    color: #999999;
}

.txt3 {
    font-size: 15px;
    line-height: 1.6;
    color: #00ad5f;
}
.size1 {
    width: 355px;
    max-width: 100%;
}

.size2 {
    width: calc(100% - 43px);
}

.bg1 {background: #3b5998;}
.bg2 {background: #1da1f2;}
.bg3 {background: #cd201f;}

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;

}

.wrap-contact100 {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;

}

.contact100-more {
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 30px 15px 0px 15px;
}

.FieldInfo{
    color: rgb(251, 174, 44);
    font-family: Bitter,Georgia,"Times New Roman",Times,serif;
    font-size: 1.2em;
}
.CommentBlock{
    background-color:#F6F7F9;
}

/*.fa {
    font-size: 1.2em;
}
.fa-thumbs-down, .fa-thumbs-o-down {
    transform:rotateY(180deg);
}
.logged_in_user {
    padding: 10px 30px 0px;
}
i {
    color: blue;
}*/

.contact100-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
}

.contact100-form {
    width: 560px;
    min-height: 100vh;
    display: block;
    padding: 110px 55px 55px 55px;
}

.contact100-form-title {
    width: 100%;
    font-weight: bold;
    display: block;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 48px;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.category{
    margin-left: 20px;
    color: #0C0613;
    transition: all 0.4s ease;
    display: inline-block;
    border-left: 3px solid #27aae1;
    text-decoration: none;
    font-weight: bolder;
}

.category p{
    width: 300px;
    margin-bottom: 0!important;
    font-weight: bold;
    font-size: 16px;
    color: #0C0613;
    padding-left: 10px;
    cursor: pointer;
}

.category:hover {
    background: #27aae1;
    transition: all 0.4s ease;
    transform: scale(1.1);
}

.tw-item:hover {
    /*background: #27aae1;*/
    transition: all 0.4s ease;
    transform: scale(1.1);
    cursor: pointer;
}

.label-input100 {
    font-size: 16px;
    font-weight: bold;
    color: gray;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 15px 0 2px 24px;
}

.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 18px;
    color: #404b46;
    line-height: 1.2;
    padding: 0 26px;
}

input.input100 {
    height: 48px;
}

textarea.input100 {
    min-height: 180px;
    padding-top: 14px;
    padding-bottom: 15px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #6675df;
    border-radius: 10px;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.eff-focus-selection {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.container-contact100-form-btn {
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: 3px solid #0C0613;
    background: #0C0613;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover {
    background: #27aae1;
    border: 3px solid #0C0613;
    color: white;
}

.contact100-more{

}

@media (max-width: 992px) {
    .contact100-form {
        width: 50%;
        padding: 110px 30px 55px 30px;
    }

    .contact100-more {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .contact100-form {
        width: 100%;
    }

    .contact100-more {
        display: none;
    }
}

@media (max-width: 576px) {
    .contact100-form {
        padding: 110px 15px 55px 15px;
    }
}


.contact100-form-social {
    padding-top: 100px;
}

.contact100-form-social-item {
    width: 36px;
    height: 36px;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
}

.contact100-form-social-item:hover {
    background: #404b46;
    color: #fff;
}

.select2-container {
    display: block;
    max-width: 100% !important;
    width: auto !important;
}

.select2-container .select2-selection--single {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 48px;
    outline: none;
    position: relative;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 18px;
    color: #404b46;
    line-height: 1.2;
    padding-left: 26px;
    background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 20px;
    height: 100%;
    top: 45%;
    transform: translateY(-50%);
    right: 19px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-top-color: #404b46;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-bottom-color: #404b46;
}

/*pagination*/


.pagination a {
    color: #0C0613;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #0C0613;
    margin: 0 3px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0C0613;
    border-color: #0C0613;
}

.pagination a:hover:not(.active) {
    background-color: #0090DB;
    color: white;
}

/*comment & reply section*/
.comments-list {
    position: relative;
}

.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

.comments-list .comment-box {
    margin: 20px;
    width: 600px;
    float: left;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    background-color: #FFF;
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: #E5E5E5;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comments-container {
    width: 768px;
}

.comment_section {
    /* background-color: ghostwhite; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px lightgrey;
}

/*profile page*/
.profile {
    grid-area: profile;
}
.profile .img {
    position: relative;
    overflow: hidden;
    height: 420px;
}
.profile .img i {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.profile .img h3 {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #27aae1;
    z-index: 1;
    font-weight: normal;
    letter-spacing: 0.5px;
    cursor: default;
}
.profile .img .button {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #0C0613;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    cursor: pointer;
    transition: all 0.4s;
}
.profile .img .button:hover {
    bottom: 5px;
    box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 1);
}
.profile .img .button i {
    right: initial;
    top: initial;
    font-size: 25px;
    position: initial;
}
.profile .img img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}
.profile .img:after {
    background-color: white;
    width: 550px;
    transform: rotate(-8deg) skewX(0deg);
    opacity: 1;
    content: "";
    position: absolute;
    top: 360px;
    left: -110px;
    height: 250px;
    border-radius: 400px 0px 239px 0px / 123px 0px 121px 0px;
    transition: all 0.4s;
}
.profile .img:before {
    background-color: #0C0613;
    width: 450px;
    transform: rotate(-14deg) skewX(0deg);
    opacity: 0.6;
    content: "";
    position: absolute;
    top: 325px;
    height: 250px;
    left: -55px;
    border-radius: 400px 0px 239px 0px / 123px 0px 121px 0px;
    transition: all 0.4s;
}
.profile .profile-data {
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}
.profile .profile-data .data-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 55px;
}
.profile .profile-data .data-details h5 {
    position: initial;
}
.profile .profile-data .data-details h4 {
    color: #0C0613;
    font-weight: normal;
}
.profile .profile-more {
    display: flex;
    padding: 0 20px;
    justify-content: flex-end;
}
.profile .profile-more h5 {
    position: initial;
    cursor: pointer;
    text-decoration: underline;
}
.profile .profile-more h5:hover {
    color: #27aae1;
    opacity: 1;
}

.edit-profile {
    grid-area: edit-profile;
    /*height: 800px;*/
    /*padding-bottom: 20px;*/
}
.edit-profile h3 {
    font-size: 20px;
    color: #0C0613;
    display: flex;
}
.edit-profile h3 i {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
.edit-profile h3 i:hover {
    color: #27aae1;
    transform: scale(1.1);
}
.edit-profile h1 {
    margin-top: 25px;
    color: #0C0613;
    margin-left: 20px;
}
.edit-profile .header {
    background-color: #0C0613;
    color: white;
    position: relative;
    margin-bottom: 20px;
    width: 60%;
}
.edit-profile .header h1 {
    color: white;
    text-align: center;
    font-size: 19px;
    padding: 20px 10px;
    font-weight: 100;
    letter-spacing: 0.5px;
    z-index: 3;
    position: absolute;
    width: 50%;
    margin-top: 0;
}
.edit-profile .profile-picture {
    border-radius: 50%;
    margin-right: 20px;
    height: 150px;
    width: 150px;
    float: right;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: rgba(75, 78, 109, 0.3);
}
.edit-profile .profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.edit-profile .profile-picture:after {
    z-index: 2;
    background-color: #0C0613;
    width: 100%;
    opacity: 0.8;
    position: absolute;
    bottom: 0px;
    height: 50px;
    color: white;
    content: "Profile";
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    font-size: 18px;
    letter-spacing: 1px;
}
.edit-profile .profile-picture:hover:after {
    opacity: 1;
    height: 100%;
}
.edit-profile .edit-interest {
    width: auto;
    clear: both;
    margin: 20px;
    color: #615f5e;
}
.edit-profile .edit-interest p {
    word-wrap: break-word;
}
.edit-profile .edit-interest p.p-small {
    height: 24px;
}
.edit-profile .edit-infos {
    margin: 20px;
    width: 100%;
}
.edit-profile .edit-infos .profile-data {
    width: 400px;
    display: flex;
}
.edit-profile .edit-infos .profile-data .data-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 55px;
}
.edit-profile .edit-infos .profile-data .data-details h5 {
    position: initial;
}
.edit-profile .edit-infos .profile-data .data-details h4 {
    font-size: 20px;
    color: #0C0613;
    font-weight: normal;
}
.edit-profile .edit-picture {
    display: flex;
    width: 100%;
    padding-right: 10px;
    clear: both;
    flex-wrap: wrap;
}
.edit-profile .edit-picture div {
    height: 150px;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 0.25rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.edit-profile .edit-picture div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.edit-profile .edit-picture div.picture:hover:after {
    position: absolute;
    width: 100%;
    background-color: rgba(12, 9, 16, 0.6);
    bottom: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    font-size: 18px;
    letter-spacing: 1px;
    content: "Delete";
    height: 100%;
}
.edit-profile .edit-picture div.picture-add {
    background-color: rgba(75, 78, 109, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}
.edit-profile .edit-picture div.picture-add:hover {
    background-color: #0C0613;
}
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/*show morw button*/

#show-more {
    width: 20em;
    background-color: white;
    border: 1px solid white;
    padding-left: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
    color: #0C0613;
    cursor: pointer;
    border-radius: 3px;
}
#show-more:active {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);
}
